/target
**/*.rs.bk
._*
.DS_Store
.idea/
.vscode/
.ccls-cache/
.ccls
.clang-complete
.dir-locals.el
.project
*.unc*
cmake-build-debug/
build/
Debug/
Release/
CMakeCache.txt
compile_commands.json
GTAGS
GRTAGS
GPATH
doc/*
!doc/Doxyfile
*.aux
*.log
*.out
*.pdf
*.tex
*.html
*.toc
*.lot
*.lof
*.ind
*.ilg
*.idx
*.lol
**/auto/*